#contenido { 
    width: 800px; margin: 0 auto; 
    background-color:bisque;
    border-radius: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left:150px;
}

h1 {
    padding-left: 30px;
    padding-top: 10px;
}
hr {
    padding-left:100px;
}

#boton {
    background-color:white;
    margin-bottom: 30px;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }